<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/css/index.css">
  <title>WhatsApp-web</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="#home">What's-App</a>
    <div class="topnav-right">
      <span id="name"></span>
      <button onclick="logOut()" action="logOut" type="submit" form="nameform" value="Submit"
        style="background-color:rgb(89, 161, 92); height:40px; width: auto; margin-top: 4px;margin-right: 10px;">
        Log-Out</button>
    </div>
  </div>
  <div class="column left" style="background-color:rgb(235, 235, 235);height:auto;">
    <div class="header"
      style="font-size:20px;margin-top: 5px;background: rgb(177, 177, 177);padding: 10px 15px;border-radius: 7px;">
      Friends</h2>
      <a href="/home/celticlab/Desktop/Chat-App-main/views/addContact.html">
        <i style="font-size:24px;float: right;" class="fa">&#xf067;</i>
      </a>
    </div>
    <hr>
    <div class="row-8" style="height: 460px;" id="friends">
    </div>
  </div>


  <div class="column right" style="background-color:rgb(255, 255, 255);">
    <div class="settings-tray">
        <div>
          <h2 id="chatHeader"></h2>
        </div>
        <div class="col-12" style="height: 450px;overflow:auto;">
          <div class="chat-panel" id="chatBody">
            <li class="row no-gutters">
              <div class="col-md-3">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3 offset-md-9">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3 offset-md-9">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3 offset-md-9">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3">
              </div>
            </li>
            <li class="row no-gutters">
              <div class="col-md-3 offset-md-9">
              </div>
            </li>
          </div>
        </div>
      </div>
    <div class="col-12">
      <div class="chat-box">
        <span style="font-size:25px;padding: 6px;">&#128522;</span>
        <input type="text" placeholder="Type your message here...">
        <i style="font-size:24px" class="fa">&#xf0c6;</i>
        <i style="font-size:25px" class="fa">&#xf1d9;</i>
      </div>
    </div>
  </div>
  <script src="../public/js/index.js"></script>
</body>

</html>