* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 25%;
  height: 100px;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.search-box {
  background: #c0c0c0;
  padding: 10px 13px;
}

.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}

.search-box .input-wrapper i {
  color: grey;
  margin-left: 2px;
  vertical-align: middle;
}


input {
  border: none;
  border-radius: 5px;
  font-size: large;
  width: 95%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(89, 161, 92);
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
}

.topnav a.active {
  background-color: #408037;
  color: white;
}

.topnav-right {
  float: right;
}

img {
  vertical-align: middle;
  border-style: none;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.friend-list {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.friend-list .text {
  margin-left: 12px;
  width: 70%;
}

.friend-list .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.h6, h6 {
  font-size: 1rem;
}
 .h6, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
  border-top: 1px solid rgba(0,0,0,.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.friend-name {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.friend-name .text {
  margin-left: 12px;
  width: 70%;
}

.friend-name .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}

.chat-box {
  background: rgb(230, 230, 230);
  display: flex;
  width: 940px;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 420px;
  bottom: 0;
}

.chat-box i {
  padding: 10px;
  color: rgb(87, 86, 86);
  margin-right: 0px;
  font-size: 30px;
}

.chat-box input {
  padding: 6px 2px;
  margin-bottom: 0px;
  text-align: center;
}

input {
  border: none;
  border-radius: 40px;
  width: 80%;
}

button, input {
  overflow: visible;
}